.language-expressif .highlight .nf {
  color: #8250df;
  font-weight: 600;
}

.language-expressif .highlight .go {
  margin-left: 0.35em;
  padding: 0.08em 0.45em;

  color: #14532d;
  background-color: #dcfce7;
  border: 1px solid #86efac;
  border-radius: 0.3em;

  font-weight: 700;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
